* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
    background-color: lightskyblue;
    padding: 10px;
    font-style: oblique;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 20px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .navbar-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        background-color: cadetblue;
        top: 90px; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        transform: translateX(100%);
        width: 100%;
    }

    .burger {
        display: block;
    }

    .navbar-active {
        transform: translateX(0%);
    }


}